@tailwind base;
@tailwind components;
@tailwind utilities;
/* components/Navbar.module.css */

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #141318;
    color: white;
  }
  
  .logo img {
    width: auto;
    height: 50px;
  }
  
  .buttons {
    display: flex;
    width: 500px;
    justify-content: space-around;
  }
  
  #reqButton {
    color:#E5E1E9;
    background-color: #141318;
    border: 2px solid #E5E1E9 !important;
    border-radius: 35px;
    padding: 10px 20px !important;
  }
  #salesButton {
    color: #E5E1E9 !important;
    font-weight: 600;
    background: linear-gradient(to right, #6F6DDE, #63A5D6) !important;
    border-radius: 35px;
    padding: 12px 20px !important;
    border: 0px !important;
}

#salesButton :active,
#salesButton :focus,
#salesButton :active{
  border: 0 !important;
  outline: none !important;
}


.input-wrapper>label{
  color:white !important
}