@tailwind base;
@tailwind components;
@tailwind utilities;



.dropdown-dency a{
color:#E5E1E9 !important
}
.dropdown-dency a:hover{
    color:#2F285F !important
    }

    #solution {
        border: 0 !important;
        outline: 0 !important;
    }
    #solution :hover,
    #solution :focus,
    #solution :active{
        border: 0 !important;
        outline: none !important;
        box-shadow: none !important; 
        background: transparent !important;
    }