@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "Noto Sans", sans-serif;
}


.scale-anima1{
  transition:transform 0.2s ease-in-out ;
  cursor: pointer;
  transform: scale(1.1);
}
.scale-anima1:hover{
  transform:scale(0.9);
}

.scale-anima2{
  transition:transform 0.2s ease-in-out ;
  cursor: pointer;
}
.scale-anima2:hover{
  transform:scale(1.2);
}

.scale-anima3{
  transition:transform 0.2s ease-in-out ;
  cursor: pointer;
}
.scale-anima3:hover{
  transform:scale(0.8);
}




.scale-acard{
  transition:transform 0.2s ease-in-out ;
  cursor: pointer;
}
.scale-acard:hover{
  transform:scale(1.1);
}




/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 3px; /* Adjust the width of the scrollbar */
  border-radius:12px;
}

/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar-track {
  background: #0e1117; /* Color of the scrollbar track */
}

/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
}

/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}