@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "Noto Sans", sans-serif;
}


.scale-anima1{
  transition:transform 0.2s ease-in-out ;
  cursor: pointer;
}
.scale-anima1:hover{
  transform:scale(0.9);
}

.scale-anima2{
  transition:transform 0.2s ease-in-out ;
  cursor: pointer;
}
.scale-anima2:hover{
  transform:scale(1.1);
}

.scale-anima3{
  transition:transform 4s ease-in-out ;
  cursor: pointer;
}
.scale-anima3:hover{
  transform: rotate(360deg);
}